<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key"
                       checked="@column.Key == 'all''" />
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.searchResults != null)
{

    <h3>@ViewBag.searchResults.Count Result(s)</h3>

    // TODO #2 - Loop over jobs dictionary and display all job fields
    @if (ViewBag.searchResults.Count == 0)
    {
        <h4>There are no jobs available that match your search parameter.</h4>
    }
    else
    {
        @for (int x = 0; x < ViewBag.searchResults.Count; x++)
        {
            <table class="job-listing">
                <tbody>
                    @foreach (KeyValuePair<string, string> item in ViewBag.searchResults[x])
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }

}    